%h4 Born Loved: The Conversation
%br
.speakers
  %p Monday and Tuesday nights, 5th-8th week and 1st week of Trinity
  %p 7.45pm at Chequers Pub. Delicious puddings will be provided.
  %p The evenings will be run by two city centre churches (St Ebbe's on Monday and St Aldate's on Tuesday) and will consist of a short presentation on Jesus and time to ask questions and discuss in small groups.
  %p No-one will be asked to pray, sing or do anything they are uncomfortable with.
  %p If you have more questions about the Christian faith, whether you're a sceptic, a follower of another religion, or a Christian, we'd love to see you there!

