%p Do you know who you are? What defines you?
%p Your college? Your hopes for a Blue or a First?Your boyfriend or girlfriend?
%p Is it your posed photos, or the ones you’d rather not remember?
%p Might it be your debt, your all-nighters, your awkward tutorials and hopeless essays?

%p What if it was something bigger, stronger, more than yourself? What if it’s not you at all, but the way you are loved?

%p Your life need not be empty, merely a pastiche and composite of your interests and annoyances.
