%h2 What if like Jason Bourne you were incapable of seeing the core of your identity, the very heart of your being?
%br
%p 
  Do you 
  %strong know
  who you are? What defines
  %em you
  ?
%p
  Your
  %strong college
  ? Your hopes for a Blue or a First? Your 
  %strong boyfriend
  or
  %strong girlfriend
  ?
%br
%p Is it your posed photos, or the ones you’d rather not remember?
%p Might it be your tuition debt, your all-nighters, your awkward tutorials and hopeless essays?

%p What if it was something bigger, stronger, more than yourself? What if it’s not you at all, but the way you are loved?

%p What if you were born loved, wanted, and known?
%br
%h3 Curious? Come and find out more.
%h3 Born Loved. 4th Week Hilary. February 4th-8th, 2013
%h3 Do you know who you are?
