<table border="0">
<tbody>
<tr>
<td colspan="2">
<p><span><strong>Born Loved: The Objections</strong></span><br /><strong>(lunchbar, 1 - 2pm)</strong></p>

</td>
<td>
<p><span><strong>Born Loved: The Choice<br />(8 - 9.15pm)</strong></span></p>

<address><span><em>- with Rico Tice</em></span></address>
</td>
</tr>
<tr>
<td>
<strong><span>Monday:</span></strong>
</td>
<td>
<div><span>"Unreliable? Can I trust the Bible?</span></div>
<address><span><em>- Vaughan Roberts</em></span></address>
</td>
<td>
<div><span>Two perspectives and true success&nbsp;</span></div>
</td>
</tr>
<tr>
<td>
<span><strong>Tuesday:</strong></span>
</td>
<td>
<div><span>"Outdated? Hasn't science buried God?"</span></div>
<address><span><em>- John Lennox</em></span></address>
</td>
<td>
<div><span>Two brothers and God's approval</span></div>
</td>
</tr>
<tr>
<td>
<span><strong>Wednesday:</strong></span>
</td>
<td>
<div><span>"Indifferent? Where is God when I suffer?"</span></div>
<address><span><em>- Vince Vitale</em></span></address>
</td>
<td>
<div><span>Two men and surprising destinies</span></div>
</td>
</tr>
<tr>
<td>
<span><strong>Thursday:</strong></span>
</td>
<td>
<div><span>"Restrictive? Why only one way to God?"</span></div>
<address><span><em>- Michelle Tepper</em></span></address>
</td>
<td>
<div><span>Two prayers and unexpected standards</span></div>
</td>
</tr>
<tr>
<td>
<span><strong>Friday:</strong></span>
</td>
<td>
<div><span>"Irrelevant? What difference does it make?"</span></div>
<address><span><em>- Pete Nicholas</em></span></address>
</td>
<td>
<div><span>Two thieves and three crosses</span></div>
</td>
</tr>
</tbody>
</table>
%br
=render :partial => 'course_details'

