.pull-left
  &copy; 2012-2013
  %a{:href => 'http://oiccu.org.uk'} Oxford Inter-Collegiate Christian Union

.pull-right
  Website design by 
  %a{:href => 'http://johncalvinyoung.com'} John Calvin Young
