%a{:href => root_path()}
  %img{:src => '/assets/logo.jpg'}
#main_navigation
  %ul
    %li
      %a{:href => schedule_path} Events
    %li 
      %a{:href => speakers_path} Speakers
    %li
      %a{:href => location_path} Location
    %li
      %a{:href => 'http://www.oiccu.co.uk/index.php/main-event.php'} About
  .clearfix For whom he did foreknow, he also did predestinate to be conformed to the image of his Son, that he might be the firstborn among many brethren. Moreover whom he did predestinate, them he also called: and whom he called, them he also justified: and whom he justified, them he also glorified. -- Romans 8:29-30 (KJV)
