.speakers
  %p
    %strong Rico Tice 
    grew up in Uganda and Zaire before attending school and then university in England.  In 1994 he was ordained in the Church of England and joined the staff of All Souls Church, Langham Place, London.  He is best known for being one of the authors of the Christianity Explored course, a popular resource for people investigating the claims of Jesus.  He spoke at the Main Event Weeks in Oxford in 2003 and 2009.

  %p
    %strong Vaughan Roberts 
    is the Rector of St Ebbe’s Church Oxford, which many students attend.  He initially studied Law at Cambridge University.  Vaughan is a prominent speaker and author, and his books include Turning Points, Life’s Big Questions and God’s Big Picture.

  %p
    %strong John Lennox 
    is Professor of Mathematics in the University of Oxford, Fellow in Mathematics and the Philosophy of Science, and Pastoral Advisor at Green Templeton College, Oxford.  His most recent book, on the interface between science, philosophy and theology, is God’s Undertaker – Has Science Buried God? He has lectured extensively in North America, Eastern and Western Europe on mathematics, the philosophy of science and the intellectual defence of Christianity.  He debated Richard Dawkins on The God Delusion in the University of Alabama (2007) and on Has Science buried God? in the Oxford Museum of Natural History (2008). He has also debated Christopher Hitchens on the New Atheism (Edinburgh Festival 2008) and on the question: Is God Great?

  %p
    %strong Vince Vitale 
    is Tutor in Philosophy and Mission at Oxford University’s Wycliffe Hall. He has an Oxford doctorate in Philosophy on The Problem of Evil and an M.Phil. in Theology. Vince played varsity soccer at Princeton and has been awarded Blues in football and boxing at Oxford.

  %p
    %strong Michelle Tepper 
    was a student at Oxford, completing a BA in Political Science at New College.  She then spent six years as a full-time Student Pastor at St. Aldate’s Church, Oxford. Michelle engages on a variety of faith issues in numerous forums around the UK.

  %p
    %strong Pete Nicholas 
    studied at Oxford where he received three Blues in Rugby and gave his life to Jesus.  He is on the staff of Christians in Sport and also spent several years involved in student work at St Ebbe’s Church, Oxford.  Pete currently attends All Souls Church, Langham Place in London.

